<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <servlet>
    <servlet-name>RetrieveFlyInteractors</servlet-name>
    <servlet-class>org.sadiframework.service.RetrieveFlyInteractors</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RetrieveYeastInteractors</servlet-name>
    <servlet-class>org.sadiframework.service.RetrieveYeastInteractors</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RetrieveFlyInteractors</servlet-name>
    <url-pattern>/RetrieveFlyInteractors</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RetrieveYeastInteractors</servlet-name>
    <url-pattern>/RetrieveYeastInteractors</url-pattern>
  </servlet-mapping>

</web-app>