PREFIX db: <http://sadiframework.org/ontologies/predicatestats.owl#>

INSERT INTO GRAPH %u%
{
	# (predicate, averageResponseTimeRecord, record)
	%u% db:averageResponseTimeRecord _:blank .
	
	# (record, numInputs, numInputsValue)
	_:blank db:numInputs %v% .
	
	# (record, averageResponseTimeForward/Reverse, timeValue) 
	_:blank %u% %v% .
}