<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
     
  <display-name>SADI registry</display-name>
  
  <security-constraint>
   <web-resource-collection>
     <web-resource-name>Admin page</web-resource-name>
     <url-pattern>/admin</url-pattern>
     <url-pattern>/admin/*</url-pattern>
   </web-resource-collection>

   <auth-constraint>
     <role-name>admin</role-name>
   </auth-constraint>
  </security-constraint> 

  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  
  <servlet>
    <servlet-name>sparql</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.registry.SPARQLServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>admin</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.registry.AdminServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>sparql</servlet-name>
    <url-pattern>/sparql/</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin/</url-pattern>
  </servlet-mapping>
  
</web-app>
