<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
    
  <display-name>SADI Example Services</display-name>
  
  <servlet>
    <servlet-name>echo</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.EchoServiceServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>linear</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.LinearRegressionServiceServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>linearAsync</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.AsyncLinearRegressionServiceServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>uniprotInfo</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.UniProtInfoServiceServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>uniprot2go</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.UniProt2GoServiceServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>uniprot2pdb</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.UniProt2PdbServiceServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>uniprot2pubmed</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.UniProt2PubmedServiceServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>ermineJgo</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.ErmineJServiceServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>echo</servlet-name>
    <url-pattern>/echo</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>linear</servlet-name>
    <url-pattern>/linear</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>linearAsync</servlet-name>
    <url-pattern>/linear-async</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>uniprotInfo</servlet-name>
    <url-pattern>/uniprotInfo</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>uniprot2go</servlet-name>
    <url-pattern>/uniprot2go</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>uniprot2pdb</servlet-name>
    <url-pattern>/uniprot2pdb</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>uniprot2pubmed</servlet-name>
    <url-pattern>/uniprot2pubmed</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ermineJgo</servlet-name>
    <url-pattern>/ermineJgo</url-pattern>
  </servlet-mapping>
</web-app>
