<?xml version="1.0"?>

<plugin>

<!--
    <extension id="SADIEditorView"
     point="org.protege.editor.core.application.ViewComponent">
        <label value="SADI Editor"/>
        <class value="org.sadiframework.editor.views.SadiEditorView"/>
        <headerColor value="@org.protege.classcolor"/>
    </extension>
-->
	<extension id="SadiSimpleClientView"
     point="org.protege.editor.core.application.ViewComponent">
        <label value="SADI Simple Client"/>
        <class value="org.sadiframework.editor.views.SadiSimpleClientView"/>
        <headerColor value="@org.protege.classcolor"/>
    </extension>
    
    <extension id="SadiCodeGeneratorView"
     point="org.protege.editor.core.application.ViewComponent">
        <label value="SADI Code Generator"/>
        <class value="org.sadiframework.editor.views.SadiGeneratorView"/>
        <headerColor value="@org.protege.classcolor" />
    </extension>
    
    <extension id="SADIOwlCodeGeneratorView"
     point="org.protege.editor.core.application.ViewComponent">
        <label value="SADI OWL 2 Code Generator"/>
        <class value="org.sadiframework.editor.views.SADIOwlCodeGeneratorView"/>
        <headerColor value="@org.protege.classcolor" />
    </extension>

    <extension id="SADITab"
               point="org.protege.editor.core.application.WorkspaceTab">
       <label value="SADI"/>
       <class value="org.protege.editor.core.ui.workspace.WorkspaceViewsTab"/>
       <defaultViewConfigFileName value="viewconfig-SADI.xml"/>
       <index value="S"/>
       <editorKitId value="OWLEditorKit"/>
   </extension>
   <extension
         id="AnnotationViewPreferencesPanel"
         point="org.protege.editor.core.application.preferencespanel">
        <label value="SADI Preferences"/>
        <class value="org.sadiframework.editor.views.SADIPreferencePanel"/>
   </extension>
   
</plugin>
