@prefix sio: <http://semanticscience.org/resource/> .

[% IF ref_feature_is_double_stranded %]

[% ref_sequence_uri %]
    a sio:SIO_000030;  # "sequence"
    sio:SIO_000011 # p = "is attribute of"
        [ a [% strand_type_uri %];
          sio:SIO_000093 [% ref_feature_uri %] ] . # p = "is proper part of"

[% ELSE %]

[% ref_sequence_uri %]
    a sio:SIO_000030;  # "sequence"
    sio:SIO_000011 [% ref_feature_uri %] . # p = "is attribute of"

[% END %]

