@prefix sio: <http://semanticscience.org/resource/> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix feature: <http://sadiframework.org/ontologies/GMOD/Feature.owl#> .

[% IF feature_is_double_stranded %]

[% sequence_uri %] sio:SIO_000210 [% strand_uri %] . # p = "represents"

[% ELSE %]

[% sequence_uri %] sio:SIO_000210 [% feature_uri %] . # p = "represents"
[% feature_uri %] rdf:type feature:Feature .

[% END %]

