PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> 
SELECT ?inputNodeURI #foreach ($var in $select_variables) ?$var #end

#set( $SPARQL_VAR = "?sparql_selector" )
#set( $SPARQL_X = 0 )
WHERE { 
      ?inputNodeURI rdf:type <$base#inputClass> .      
#foreach ($item in $owl_property_mappings)
      ?inputNodeURI <$item.getOwlProperty()> #if ($item.getExtraCount()==0) ?$item.getSoapId()#else ${SPARQL_VAR}_${SPARQL_X} #end .
#if ($item.getExtraCount()!=0) ${SPARQL_VAR}_${SPARQL_X} rdf:type <$item.getValuesFrom()> .#end
#foreach( $extra in $item.getExtras() )
#if( $foreach.count ==  $item.getExtraCount())      
      ${SPARQL_VAR}_${SPARQL_X} <$extra.get(0)> ?$item.getSoapId() .
#else
      ${SPARQL_VAR}_${SPARQL_X} rdf:type <$extra.get(1)> .
      ${SPARQL_VAR}_${SPARQL_X} <$extra.get(0)> #set( $SPARQL_X = $SPARQL_X+1 ) ${SPARQL_VAR}_${SPARQL_X} .
#end
#end
#end 
}