#parse("HEADER.vm")
<h1>Daggoo4SADI</h1>
<p>User WSDL has been successfully parsed.</p>
#if ($services.count == 1) 
#set( $cardinality = "service" )
#else
#set( $cardinality = "services" )
#end
#if (!$services.isEmpty())
<h2>Select a service</h2>
<p>We have parsed your WSDL and found $services.size() $cardinality</p>
<p>Select the service to wrap from the drop down list and then click the submit button</p>
<form id="serviceSelectorForm" name="serviceSelectorForm" method="post" action="$servlet_action">
  <p>
    <select name="operationname" size="1">
#foreach ($item in $services)
      <option value="$item">$item</option>
#end
    </select>
  </p>
#include("navigation_buttons.vm")
</form>
#else
<h2>No services have been found</h2>
<p>Unfortunately, we didn't find any services in your WSDL document that could be wrapped into SADI services. </p>
<p>Please try again and if you think that this message is an error, contact us with your WSDL location (<a href="$wsdlLoc">$wsdlLoc</a>)</p>
<a href="javascript:window.location.href=window.location.href;">Retry</a>
#end
#include("FOOTER.vm")