#parse("HEADER.vm")
<h1>Daggoo4SADI</h1>
<p>Welcome to Daggoo4SADI. A WSDL to SADI web service wrapping tool.</p>
<h2>Getting started</h2>
<p>All that is needed to get started is the URL to a publicly accessible WSDL document.</p>
<p>Given that WSDL document, you will be given the opportunity to select a service from that document to wrap. Then you will be given a chance to define what properties your service needs as input and what properties you will add to that OWL class. </p>
<p>Once all of the information has been collected a SADI compliant web service will be generated, registered within the SADI framework and you will be shown the service interface.</p>
<h2>Let's do it</h2>
<p>Enter a URL location of a WSDL document to start:</p>
#if ($error) 
    <strong>
        <pre>$error</pre>
    </strong>
#end
    <form id="wsdlform" name="wsdlform" method="post" action="$servlet_action"> 
<p>
    <input name="wsdl" type="text" id="wsdl" size="82" />
    <input name="next" type="hidden" id="next" value="true" />
    <input type="submit" name="submit" id="submit" value="Submit" /> 
</p> 
</form>
#include("FOOTER.vm")