#foreach( $item in $owl_property_mappings)
    #if ($item.getExtraCount()==0)
${item.getSoapId()}=$esc.propertyValue($item.getOwlProperty()),* 
    #else
        #set($lifting_rdf_path = ",")
        #foreach( $extra in $item.getExtras() )
            #if( $foreach.count ==  $item.getExtraCount())
                #set($lifting_rdf_path = $lifting_rdf_path + "$esc.propertyValue($extra.get(0))" + "," + "*")
            #else
                #set($lifting_rdf_path = $lifting_rdf_path + "$esc.propertyValue($extra.get(0))" + "," + "$esc.propertyValue($extra.get(1))" + ",")
            #end
        #end
${item.getSoapId()}=$esc.propertyValue($item.getOwlProperty()),$esc.propertyValue(${sadi_output_owl_class})${lifting_rdf_path}
    #end
#end