#**

TODO - add unit test information

  Input parameters:
  $uri           - the uri for this service
  $id            - the service identifier
  $url           - the url to the service
  $desc          - the service description
  $name          - the service name
  $authority     - 
  $authoritative - 
  $email         - contact email address
  $type          - service type
  $input         -
  $output        -
  
*#<?xml version="1.0" encoding="UTF-8"?>
<rdf:RDF
 xmlns="http://www.w3.org/2002/07/owl#"
 xmlns:a="http://www.mygrid.org.uk/mygrid-moby-service#"
 xmlns:b="http://purl.org/dc/elements/1.1/"
 xml:base="http://bioinfo.icapture.ubc.ca/SADI"
 xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
 xmlns:databases="http://sadiframework.org/ontologies/Databases.owl#"
 xmlns:misc="http://sadiframework.org/ontologies/miscellaneousObjects.owl#"
 xmlns:owl="http://www.w3.org/2002/07/owl#"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
 xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">    
  <rdf:Description rdf:about="$uri">
    <rdf:type rdf:resource="http://www.mygrid.org.uk/mygrid-moby-service#serviceDescription"/>
    <b:format>sadi</b:format>
    <b:identifier>$id</b:identifier>
    <a:locationURI>$url</a:locationURI>
    <a:hasServiceDescriptionText>$desc</a:hasServiceDescriptionText>
    #if ($sigURL == '')<a:hasServiceDescriptionLocation/>#else
    <a:hasServiceDescriptionLocation>$sigURL</a:hasServiceDescriptionLocation>#end
    <a:hasServiceNameText>$name</a:hasServiceNameText>
    <a:providedBy>
        <rdf:Description rdf:about="${name}_${authority}_1">
            <a:authoritative rdf:datatype="http://www.w3.org/2001/XMLSchema#boolean">$authoritative</a:authoritative>
            <b:creator>$email</b:creator>
            <b:publisher>$authority</b:publisher>
            <rdf:type rdf:resource="http://www.mygrid.org.uk/mygrid-moby-service#organisation"/>
        </rdf:Description>
    </a:providedBy>
    <a:hasOperation>
        <rdf:Description rdf:about="${name}_${authority}_2">
            <a:hasOperationNameText>$name</a:hasOperationNameText>
            <rdf:type rdf:resource="http://www.mygrid.org.uk/mygrid-moby-service#operation"/>
            <a:performsTask>
                <rdf:Description rdf:about="${name}_${authority}_3">
                    <rdf:type rdf:resource="http://www.mygrid.org.uk/mygrid-moby-service#operationTask"/>
                    <rdf:type rdf:resource="$type"/>
                </rdf:Description>
            </a:performsTask>
            <a:inputParameter>
                <rdf:Description rdf:about="${name}_${authority}_4">
                    <rdf:type rdf:resource="http://www.mygrid.org.uk/mygrid-moby-service#parameter"/>
                    <a:objectType>
                        <rdf:Description rdf:about="$input"/>
                    </a:objectType>
                </rdf:Description>
            </a:inputParameter>
            <a:outputParameter>
                <rdf:Description rdf:about="${name}_${authority}_5">
                    <rdf:type rdf:resource="http://www.mygrid.org.uk/mygrid-moby-service#parameter"/>
                    <a:objectType>
                        <rdf:Description rdf:about="$output"/>
                    </a:objectType>
                </rdf:Description>
            </a:outputParameter>
        </rdf:Description>
    </a:hasOperation>
  </rdf:Description>
</rdf:RDF>