<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
    
  <display-name>SADI Example Services</display-name>
  
  <servlet>
    <servlet-name>echo</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.EchoServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.HelloWorldServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>hello-param</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.ParameterizedHelloWorldServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>hello-param-async</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.AsyncParameterizedHelloWorldServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>linear</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.LinearRegressionServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>y4x</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.YForLargestXServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>calculateBMI</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.BMIServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ermineJgo</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.ErmineJServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uniprotInfo</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.UniProtInfoServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uniprot2go</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.UniProt2GoServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uniprot2pdb</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.UniProt2PdbServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uniprot2pubmed</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.UniProt2PubmedServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uniprot2prosite</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.UniProt2PrositeServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uniprot2kegg</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.UniProt2KeggServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uniprot2omim</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.UniProt2OmimServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uniprot2EntrezGene</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.UniProt2EntrezGeneServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>blastUniprot</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.BlastUniProtServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>blastUniprotById</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.BlastUniProtByIdServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>keggPathway2Gene</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.KeggPathway2GeneServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>keggPathway2Compound</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.KeggPathway2CompoundServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>keggGene2Pathway</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.KeggGene2PathwayServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>keggGene2GeneXrefs</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.KeggGene2GeneXrefsServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>keggCompound2PubChem</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.KeggCompound2PubChemServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>entrezGene2Uniprot</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.EntrezGene2UniProtServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>entrezGene2Kegg</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.EntrezGene2KeggServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>pdb2uniprot</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.Pdb2UniProtServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>pubmed2uniprot</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.example.PubMed2UniProtServiceServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>echo</servlet-name>
    <url-pattern>/echo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>hello-param</servlet-name>
    <url-pattern>/hello-param</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>hello-param-async</servlet-name>
    <url-pattern>/hello-param-async</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>linear</servlet-name>
    <url-pattern>/linear</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>y4x</servlet-name>
    <url-pattern>/y4x</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>calculateBMI</servlet-name>
    <url-pattern>/calculateBMI</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ermineJgo</servlet-name>
    <url-pattern>/ermineJgo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uniprotInfo</servlet-name>
    <url-pattern>/uniprotInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uniprot2go</servlet-name>
    <url-pattern>/uniprot2go</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uniprot2pdb</servlet-name>
    <url-pattern>/uniprot2pdb</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uniprot2pubmed</servlet-name>
    <url-pattern>/uniprot2pubmed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uniprot2prosite</servlet-name>
    <url-pattern>/uniprot2prosite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uniprot2kegg</servlet-name>
    <url-pattern>/uniprot2kegg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uniprot2omim</servlet-name>
    <url-pattern>/uniprot2omim</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uniprot2EntrezGene</servlet-name>
    <url-pattern>/uniprot2EntrezGene</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>blastUniprot</servlet-name>
    <url-pattern>/blastUniprot</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>blastUniprotById</servlet-name>
    <url-pattern>/blastUniprotById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>keggPathway2Gene</servlet-name>
    <url-pattern>/keggPathway2Gene</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>keggPathway2Compound</servlet-name>
    <url-pattern>/keggPathway2Compound</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>keggGene2Pathway</servlet-name>
    <url-pattern>/keggGene2Pathway</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>keggGene2GeneXrefs</servlet-name>
    <url-pattern>/keggGene2GeneXrefs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>keggCompound2PubChem</servlet-name>
    <url-pattern>/keggCompound2PubChem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>entrezGene2Uniprot</servlet-name>
    <url-pattern>/entrezGene2Uniprot</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>entrezGene2Kegg</servlet-name>
    <url-pattern>/entrezGene2Kegg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pdb2uniprot</servlet-name>
    <url-pattern>/pdb2uniprot</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pubmed2uniprot</servlet-name>
    <url-pattern>/pubmed2uniprot</url-pattern>
  </servlet-mapping>

</web-app>
