<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WSDL2SADI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>configurable-properties</param-name>
    <param-value>/daggoo4sadi.properties</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>SoapServlet</display-name>
    <servlet-name>SoapServlet</servlet-name>
    <servlet-class>ca.wilkinsonlab.daggoo.servlets.SoapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SoapServlet</servlet-name>
    <url-pattern>/SoapServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WSDL2SAWSDL</display-name>
    <servlet-name>WSDL2SAWSDL</servlet-name>
    <servlet-class>ca.wilkinsonlab.daggoo.servlets.WSDL2SAWSDL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WSDL2SAWSDL</servlet-name>
    <url-pattern>/WSDL2SAWSDL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SAWSDL2SADIServlet</display-name>
    <servlet-name>SAWSDL2SADIServlet</servlet-name>
    <servlet-class>ca.wilkinsonlab.daggoo.servlets.SAWSDL2SADIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/css/*</url-pattern>
    <url-pattern>/js/*</url-pattern>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SAWSDL2SADIServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>ca.wilkinsonlab.daggoo.listeners.ServletContextListener</listener-class>
  </listener>
</web-app>