<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <servlet>
    <servlet-name>getCitingArticles</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.opencitations.GetCitingArticles</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getAbstract</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.opencitations.GetAbstract</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getCitedArticles</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.opencitations.GetCitedArticles</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getDocumentInfo</servlet-name>
    <servlet-class>ca.wilkinsonlab.sadi.service.opencitations.GetDocumentInfo</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>getCitingArticles</servlet-name>
    <url-pattern>/getCitingArticles</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getAbstract</servlet-name>
    <url-pattern>/getAbstract</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getCitedArticles</servlet-name>
    <url-pattern>/getCitedArticles</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getDocumentInfo</servlet-name>
    <url-pattern>/getDocumentInfo</url-pattern>
  </servlet-mapping>
  
</web-app>